<!DOCTYPE html>
<html>

<head>
    {% load static %}
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'home/style.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="bodyWrap">
    <nav>
        <div class="navContainer">
            <div class="navLogo">
                <h1>Eventful</h1>
            </div>
            <div class="navList">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Host an Event</a></li>
                    <li><a href="">My Events</a></li>
                    <li><a href="">My account</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content%}
    {% endblock %}
</body>

</html>