<!DOCTYPE html>
<html>

<head>
  {% load static %} {% block title %} {% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'Home/style.css' %}" />
  <script src="{% static 'home/main.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {% block link %} {% endblock %}
</head>

<body>
  <nav id="navDuc" class="navbar navbar-expand-md navbar-light sticky-top "
    style="border-bottom: 1px #dbdbdb solid; background-color: ghostwhite; ">

    {% block nav %}

    {% endblock nav %}

    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
      aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="{% url 'home' %}" class="navbar-brand" style="color: #fc7b03;">Eventful</a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto mr-3">
        <li class="nav-item"><a class="nav-link" href="{%url 'home'%}">Home</a></li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'booking'%}">Host My Event</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="">My Events</a></li>
        <li class="nav-item dropdown">
          {% if user.is_authenticated %}
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">{{ user.get_username}}</a>
          {%else%}
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">My account</a>
          {%endif%}
          <div class="dropdown-menu" style="transition: display 1s ease-in-out;">
            {% if user.is_authenticated %}
            <a href="{%url 'profile' {{request.user}}}" class="dropdown-item">Profile</a>
            <a href="{% url 'logout' %}?next={{request.path}}" class="dropdown-item">Logout</a>
            {%else%}
            <a href="{%url 'login'%}?next={{request.path}}" class="dropdown-item">Login</a>
            <a href="{%url 'signup' %}?next={{request.path}}" class="dropdown-item">Signup</a>
            {%endif%}
          </div>
        </li>
      </ul>
    </div>
  </nav>
  {% block content%} {% endblock %}
  {% block javascript %} {% endblock %}

</body>
<hr>
<footer class="mt-5 text-muted text-center text-small">
  <p class="mb-1">Copyright © 2019-2020 Chris Bui </p>
  <ul class="inline-list" style="padding: 0;">
    <li class="list-inline-item"><a href="#">Privacy</a></li>
    <li class="list-inline-item"><a href="#">Terms</a></li>
    <li class="list-inline-item"><a href="#">Support</a></li>
  </ul>
</footer>

</html>