{% extends 'home/base.html' %} {% block content %}
<div class="container-fluid" id="backgroundImage">
  <img src="static/Image/background.jpg" alt="">
  <h1>{{ admin }}</h1>
  <div class="container" id="header-content">
    Wet your hands with clean, running water (warm or cold), turn off the tap, and apply soap. Lather your hands by
    rubbing them together with the soap. Lather the backs of your hands, between your fingers, and under your nails.
    Scrub your hands for at least 20 seconds.
    <p>
      <h2>Events:</h2>
    </p>
  </div>
</div>
<div class="container">
  <h5> Showing {{event_list.count}} {% if event_list.count < 1 %}result {%else%} results{%endif%}</h5>
  <p></p>
  <ul>
    {%for event in event_list%}
    <li class="event-box">
      <div class="card w-100 mx-auto my-3" style="border: 0;">
        <div class="card-body shadow-sm">
          <div class="row">
            <div class="col-md-4">
              <img src="/static/{{event.imagePath}}" alt="" width="100%" height="100%">
            </div>
            <div class="col-md-8">
              <a href=" {% url 'event-detail' event.slug%}" class="card-text">
                <div class=" cotainer-fluid">
                  <h3 style=" font-size: 18px; font-weight: 450; color:#083D77;">{{event}}</h3><br>
                  <span style="color: darksalmon;">{{event.date}}, {{event.time}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </li>
    {%endfor%}
  </ul>
</div>
{% endblock %}