html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: snow;
}

nav {
    background-color: white;
    z-index: 999;
    border-bottom: 1px solid #dbdbdb;
    letter-spacing: 4px;
    height: 80px;
}

.navContainer {
    margin: 0 auto;
    padding: 0 15p;
}

@media (min-width: 851px) {
    .navContainer {
        width: 901px;
    }

    .navList ul li a {
        font-size: 23px;
    }

    .navContainer .navLogo h1 {
        font-size: 36px;
    }
}

@media screen and (max-width: 850px) {
    .navList {
        font-size: 2.7vw;
        margin-bottom: 5px;
    }

    .navList ul li a {
        text-decoration: none;
        letter-spacing: 1px;
        margin: 0px;
    }

    .navContainer .navLogo h1 {
        font-size: 5vw;
    }
}

.navContainer .navLogo h1 {
    letter-spacing: 1px;
    color: black;
    line-height: 1.3;
    margin-top: 20px;
    margin-bottom: 10px;
}

.navLogo {
    float: left;
    width: 15%;
}

.navList {
    float: right;
    width: 85%;
    line-height: 52px;
}

.navList ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.navList ul li a {
    text-decoration: none;
    letter-spacing: 3px;
}

.navList ul li {
    margin: 0 10px;
}

.navList ul {
    list-style-type: none;
}