.event-box
{
    margin: 0 auto;
    list-style-type: none;
}

@media only screen and (max-width: 960px) {
    .container {
        max-width: 100%;
    }
  }
@media only screen and (max-width: 576px) {
    .card {
        max-width: 80%;
    }
}
.card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: box-shadow 0.3s ease-in-out;
}
#backgroundImage{
    padding: 0;
    position: relative;
    height: 220px;
    width: 100%;
}
#backgroundImage img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    z-index: -99;
}
#header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: snow;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

#backgroundDetail{
    padding: 0;
    position: relative;
    height: 500px;
    width: 100%;
}
#backgroundDetail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -99;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
