{% extends 'registration/layout.html' %}


{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'user/login.css' %}" />
{% endblock link %}

{% block content %}



<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5  mx-auto">
            <div class="card my-5 card-login shadow-sm">
                <div class="card-body">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <h5 class="card-title">EventManager Login</h5>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="username" id="username"
                                placeholder="Enter User name">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password"
                                placeholder="Enter password">
                        </div>
                        <button class="btn btn-primary btn-lg btn-block text-uppercase" type="submit"
                            style="margin-bottom: 1.5rem;">Login</button>
                        <input type="hidden" name="next" value="{{ next }}" />
                        <p class="text-right"><a href="{% url 'password_reset' %}">Forgot password?</a><br>
                            <a href="{%url 'signup'%}">Don't have an account? Signup now!</a><br>
                            <small class="text-muted"> Demo account: "Ron" - "demoaccount"</small>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}